.dispo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    padding: 2%;
    text-align: center;
    border: 25%;
    border-top: none;

}

.fotosize {
    width: 300px;
    height: auto;
    padding: 1%;
}

.fotolaptop {
    width: 350px;
    height: auto;
    padding: 1%;
}


